<p>signin works!</p>
<form [formGroup]="requiredForm" novalidate>
  <div>
    <span>Username:- </span>
    <input type="text" name="username" formControlName="username" />
    <div
      *ngIf="
        requiredForm.controls['username'].invalid &&
        requiredForm.controls['username'].touched
      "
    >
      <div *ngIf="requiredForm.controls['username'].errors.required">
        UserName is required.
      </div>
    </div>
  </div>

  <!-- <div>
    <span>Password:- </span>
    <input type="text" name="password" formControlName="password" />
    <div
      *ngIf="
        requiredForm.controls['password'].invalid &&
        requiredForm.controls['password'].touched
      "
      class="alert alert-danger"
    >
      <div *ngIf="requiredForm.controls['password'].errors.required">
        pass is required.
      </div>
    </div>
  </div> -->
  <button type="submit" (ngSubmit)="(onSubmit)">Submit</button>
</form>
